
  .divcolor{
    background-color: rgb(177, 237, 255);
  }
  .btnON{
    border-radius:15px;
    background-color: #fff;
  }
  .btnOFF{
    border-radius:15px;
    background-color: rgba(255, 255, 255, 0.667);
  }
  .doubleClickBG{
    width:100vw;
    height:100vh;
    background-color:rgba(0,0,0,0.6);
    z-index:50;
    position:fixed;
    top:0;
    left:0;
  }
  .doubleClickDiv{
    background-color:#fff;
    padding:20px;
    margin: 0 10px;
    border-radius:5px;
  }
  .position{
    width: 150px;
    height: 150px;
    padding-top: 15px;
    padding-left: 10px;
    margin: 12px;
  }